
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

  *{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
    box-sizing: border-box;
  }
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 190vh;
    background: linear-gradient(45deg,#fbd161,#ff5acd)
  }

  .card{
    position: relative;
    width: 350px;
    height: 450px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
    transition: 0.5s;
}

  .card:hover{
    height: 450px;
  }
  .card:hover .imgBg{
    width: 250px;
    height: 250px;
  }

  .imgBg{
    position: absolute;
    width: 150px;
    height: 150px;
    background: #fff;
    left: 50%;
    top:-50px;
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0,0,0,0.15);
    transform: translate(-50px);
    overflow: hidden;
    transition: 0.5s;
}

.imgBg img{
    position:absolute ;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card.content{
     position: absolute;
     width: 100%;
     height: 100%;
     justify-content: center;
     align-items: flex-end;

}

.card.content.details
{
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
}

.card.content.details h2
{
    font-size: 1.25em;
    font-weight: 600;
    color: #555;
    line-height: 1.2em;

}

.card.content.details h2 span 
{
    font-size: 0.75em;
    font-weight: 500;
    opacity: 0.5;
}

.card.content.details .data
{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.card.content.details .data h3{
     font-size: 1em;
     color: #555;
     line-height: 1.2em;
     font-weight: 600;

} 